{% extends "layout.html" %} {% block body %}
<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('{{ url_for('static',filename='img/post-bg.jpg') }}')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{post.title}}</h1>
          <h2 class="subheading">
            <!-- {{post.subheading}} -->Some Subheading
          </h2>
          <span class="meta"
            >Posted by
            <a href="#">Admin</a>
            on {{post.date}}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p></p>

        <h2 class="section-heading">{{post.title}}</h2>
        <p>{{post.content}}</p>
        <h2 class="section-heading">{{post.title}}</h2>

        <p>{{post.content}}</p>

        <a href="#">
          <img class="img-fluid" src="img/post-sample-image.jpg" alt="" />
        </a>
        <span class="caption text-muted">{{post.title}}</span>

        <p>{{post.content}}</p>

        <p>{{post.content}}</p>

        <p>
          Placeholder text by <a href="http://spaceipsum.com/">Space Ipsum</a>.
          Photographs by
          <a href="https://www.flickr.com/photos/nasacommons/"
            >NASA on The Commons</a
          >.
        </p>
      </div>
    </div>
  </div>
</article>

{% endblock %}
